.project {
    transition: width 500ms cubic-bezier(0.645, 0.045, 0.355, 1), height 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}



.hide-elem {
    animation: hide-projects 400ms ease-in-out forwards 1 300ms;
}

.run-circle-animation {
    animation: circle 1.6s cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1 1.3s;
}

.change-bg-color {
    animation: change-project-1-bg-color 400ms ease-in-out forwards 1 1.3s;
}
.change-bg-color2 {
    animation: change-project-1-bg-color2 400ms ease-in-out forwards 1 1s;
}
.change-bg-color3 {
    animation: change-project-1-bg-color3 400ms ease-in-out forwards 1 1s;
}

.crunch-circle {
    animation: crunch-circle 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1;
}

.center-elem {
    animation: center-project 600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1 700ms;
}
.center-project-2 {
    animation: center-project2 600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1 700ms;
}
.center-project-3 {
    animation: center-project3 600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1 700ms;
}
.center-project-4 {
    animation: center-project4 600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1 700ms;
}
.center-project-5 {
    animation: center-project5 600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1 700ms;
}
.center-project-6 {
    animation: center-project6 600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1 700ms;
}





/***** animations ****/


@keyframes circle {
    0%{
        opacity: 0;
        border: 40px solid rgba(255,255,255,0.1);
    }
    10%{
        opacity: 1;
    }
    100%{
        border: 290px solid rgba(255,255,255,0.1);
        width: 700px;
        height: 700px;
        opacity: 1;
    }
}

@keyframes change-project-1-bg-color {
    0%{
    }
    100%{
        background: rgb(98,125,196);
    }
}
@keyframes change-project-1-bg-color2 {
    0%{
    }
    100%{
        background: rgb(196,21,26);
    }
}
@keyframes change-project-1-bg-color3 {
    0%{
    }
    100%{
        background: #e2cf52;
    }
}


@keyframes hide-projects {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes center-project {
    0%{
        -webkit-transform: translate3D(0,0,0);
        -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
        -o-transform: translate3D(0,0,0);
        transform: translate3D(0,0,0);
    }
    100%{
        -webkit-transform: translate3D(94%, 15vh,0);
        -moz-transform: translate3D(94%, 15vh, 0);
        -ms-transform: translate3D(94%, 15vh, 0);
        -o-transform: translate3D(94%, 15vh, 0);
        transform: translate3D(94%, 15vh, 0);
    }
}

@keyframes center-project2 {
    0%{
        -webkit-transform: translate3D(0,0,0);
        -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
        -o-transform: translate3D(0,0,0);
        transform: translate3D(0,0,0);
    }
    100%{
        -webkit-transform: translate3D(0%, 15vh,0);
        -moz-transform: translate3D(0%, 15vh, 0);
        -ms-transform: translate3D(0%, 15vh, 0);
        -o-transform: translate3D(0%, 15vh, 0);
        transform: translate3D(0%, 15vh, 0);
    }
}
@keyframes center-project3 {
    0%{
        -webkit-transform: translate3D(0,0,0);
        -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
        -o-transform: translate3D(0,0,0);
        transform: translate3D(0,0,0);
    }
    100%{
        -webkit-transform: translate3D(-105%, 15vh,0);
        -moz-transform: translate3D(-105%, 15vh, 0);
        -ms-transform: translate3D(-105%, 15vh, 0);
        -o-transform: translate3D(-105%, 15vh, 0);
        transform: translate3D(-105%, 15vh, 0);
    }
}
@keyframes center-project4 {
    0%{
        -webkit-transform: translate3D(0,0,0);
        -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
        -o-transform: translate3D(0,0,0);
        transform: translate3D(0,0,0);
    }
    100%{
        -webkit-transform: translate3D(94%, -15vh,0);
        -moz-transform: translate3D(94%, -15vh, 0);
        -ms-transform: translate3D(94%, -15vh, 0);
        -o-transform: translate3D(94%, -15vh, 0);
        transform: translate3D(94%, -15vh, 0);
    }
}
@keyframes center-project5 {
    0%{
        -webkit-transform: translate3D(0,0,0);
        -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
        -o-transform: translate3D(0,0,0);
        transform: translate3D(0,0,0);
    }
    100%{
        -webkit-transform: translate3D(0%, -15vh,0);
        -moz-transform: translate3D(0%, -15vh, 0);
        -ms-transform: translate3D(0%, -15vh, 0);
        -o-transform: translate3D(0%, -15vh, 0);
        transform: translate3D(0%, -15vh, 0);
    }
}
@keyframes center-project6 {
    0%{
        -webkit-transform: translate3D(0,0,0);
        -moz-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
        -o-transform: translate3D(0,0,0);
        transform: translate3D(0,0,0);
    }
    100%{
        -webkit-transform: translate3D(-105%, -15vh,0);
        -moz-transform: translate3D(-105%, -15vh, 0);
        -ms-transform: translate3D(-105%, -15vh, 0);
        -o-transform: translate3D(-105%, -15vh, 0);
        transform: translate3D(-105%, -15vh, 0);
    }
}

@keyframes crunch-circle {

    0%{
        border: 290px solid rgba(255,255,255,0.1);
        width: 700px;
        height: 700px;
        opacity: 1;
    }
    100%{
        border: 0px solid rgba(255,255,255,0.1);
        width: 0px;
        height: 0px;
    }
}


