
<style>
  html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

  }

    .main-panel {
      width: 500px;
      height: auto;
      background:white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
      padding-bottom: 50px;
      overflow-y: scroll;
    }

  .learn {
    width: 100%;
    height: 400px;
    background: red;
    position: relative;
    transition: all 500ms ease-in-out;
    margin-top: -50px;
    cursor: pointer;
  }

  .learn-boxes {
    position: relative;
    margin-top: 190px;
  }

  .learn h1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    width: 400px;
    margin-left: 70px;
    margin-top: 50px;
    transform: translateY(100px);
  }


  .navbar {
    right: 60px;
    top: 20px;
    z-index: 9999999;
    position: absolute !important;

  }

  .navbar h1 {
    font-size: 13px;
    color:white;
    font-family: "Montserrat", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    line-height: 23px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  }

  a {
    text-decoration: none;
  }


  .logo h1 {
    position: absolute;
    height: 0px;
    left: 70px;
    font-size: 50px;
    top: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    z-index: 99999999999;
    color:black;
    transition: all 500ms ease-in-out;

  }


  .about:hover::after {
    content: "";
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 0%;
    height: 100%;
    background:#000080;

    animation: move 500ms ease-in-out forwards infinite;
  }

  .contact:hover::after {
    content: "";
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 0%;
    height: 100%;
    background:#BD2031;

    animation: move 500ms ease-in-out forwards infinite;
  }
  .github:hover::after {
    content: "";
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 0%;
    height: 100%;
    background:#EDB91F;

    animation: move 500ms ease-in-out forwards infinite;
  }



  @keyframes move {
    0%{
      width: 0;
      right: 0;
    }
    50%{
      right: 0;
      width: 100%;
    }
    100%{
      right: auto;
      left: 0;
      width: 0;
    }
  }

  body,html {
  }


  ::-webkit-scrollbar-track
  {
    background: white;
    z-index: 99999999999999;
  }

  ::-webkit-scrollbar
  {
    width: 8px;
    background: rgba(216,41,46,0.5);
    z-index: 99999999999999;
  }

  ::-webkit-scrollbar-thumb
  {
    background:  rgba(216,41,46,0.5);
    z-index: 99999999999999;

  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 9999999999;
  }

  .footer ul li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    font-weight: 300;
    letter-spacing:.5px;
    color:rgb(140,140,140) !important;
  }


  .center-h1 h1 {
    font-family: Montserrat, sans-serif !important;
    font-size: 30px;
    color:lightgrey !important;
    font-weight: 400;
    text-align:center;
    position: absolute;
    right: 0;
    left: 0;
    top: 40px;
    z-index: 99999999999999;
    pointer-events: none;
  }


  @media only screen and (max-width: 800px){




    .col {
      width: 100% !important;
      display: block !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    .col p {
      margin-left: 10px !important;
    }

    .top-panel h1 {
      margin: 0 !important;
      margin-top: 170px !important;
    }

    .grid {
      display: block !important;
      margin: 0 !important;
    }

    .text p {
      font-size: 20px;
      margin: 0;
      text-align:left;
      margin-left: 20px;
      transform: translateY(60px);
      width: auto;
      margin-right: 20px;
    }

    body {
    }

    .view-site h1 {
      font-size:120px;
    }

    .logo h1 {
      left: 10px;

    }

    .slider div {
      background-size: 100% auto !important;
      margin-top: -80px !important;

    }

    .navbar {
      right: 20px;
    }

    .logo h1 {
      font-size: 20px;
      top: 40px;
      left: 20px;
    }

    .navbar h1 {
      font-size: 20px;
    }

    .view-site h1 {
      font-size: 40px !important;
    }

    .learn h1 {
      margin-left: 20px;
      font-size:40px;
      width: 250px;
    }

    .center-h1 h1 {
      font-size: 25px !important;
      margin-top: 35px;
    }
    .learn2 h1 {
      width: 250px !important;
    }


  }

  .navbar h1, .navbar h1 a {
    cursor: pointer;
  }


  .logo h1 {
    transition: opacity 500ms ease-in-out;
    opacity: 1;
    font-weight: 300 !important;
    font-size: 40px;
    top: 10px;
    color:white;
  }

  .footer {
    transition: opacity 500ms ease-in-out;
    opacity: 1;
    font-weight: 400;
    letter-spacing: 1px;
  }

    .main-panel ul{
      text-decoration: none;
      list-style-type: none;
      margin-top: 60px;
    }

    .main-panel ul li {
      margin-right: 33px;
      margin-top: 22px;
      line-height: 22px;
      font-size:14px;
      font-weight: 400;
      font-family: Montserrat, sans-serif !important;

      letter-spacing: .7px;
      color: rgb(90,90,90)
    }

    .main-panel h1 {
      font-family: Montserrat, sans-serif !important;
      color: rgb(140,140,140);
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 22px;
      text-align: center;
      transform: translateY(17px);
    }



  @media only screen and (max-width: 800px) {
    .main-panel ul li {
    }

    .main-panel {
      width: 70%;
    }

    .logo p {
      font-size:9px !important;
    }

    .navbar h1 {
      font-size: 14px;
    }


    .heading {
      position: absolute;
      left: 0 !important;
      right: 0 !important;
      top: 30px !important;
      bottom: 0 !important;
      margin: auto;
      text-align: center;
      font-size: 40px !important;
    }

    .btn2 {
      left: 0 !important;
      right: 0 !important;
      display: block;
      width: 80% !important;
      margin: 0 !important;
      margin: 0 auto !important;

    }
  }

    .top-panel {
      width: 100%;
      height: 100%;
      background:black;
      overflow: hidden;
    }

    .img-inside {
      width: 100%;
      height: 90%;
      position: absolute;
      top:0;
      bottom: 0;
      margin: auto;
      overflow: hidden;
      background:red;
    }

    .img-inside::after {
      position: absolute;
      content: '';
      display: block;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background:linear-gradient(black, rgba(0,0,0,0.05));
    }

    .img-inside h1 {
      text-align:center;
      font-size:30px;
      font-family: "Montserrat", Helvetica, Arial, Sans-Serif;
      color:white;
      margin-left: 100px;
      margin-right: 100px;
      font-weight: bold;
      line-height: 60px;
      margin-top: 170px;
      opacity: 0;
      text-transform: uppercase;
      font-weight: 100;
      animation: show-h1 500ms ease-in-out forwards 1 1s;

    }

    .btn2 {
      display: block;
      margin: 0 auto;
      width: 230px;
      height: 40px;
      border-radius: 2em;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      font-size:13px;
      font-family: Montserrat,sans-serif;
      border: 2px solid #fc2753;
      background: none;
      text-transform: uppercase;
      margin-top: 30px;
      position: absolute;
      top:65vh;
      left: 150px;
      opacity: 0;
      transform: translateX(-50px);
      transition: background 300ms ease-in-out, width 300ms ease-in-out;
      cursor: pointer;

      animation: move-left 1s ease-in-out forwards 1 100ms;
    }

    .btn2:hover {
      background: #fc2753;
      width: 290px;
    }

    .overlay33 {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background:black;
      opacity: 1;
      animation: slide 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards 1;
    }

    @keyframes slide {
      0%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }

    @keyframes show-h1 {
      0%{
        opacity: 0;
        transform: translateY(30px);
      }
      100%{
        opacity: 1;
        transform: translateY(0px);
      }

    }

    .info-panel {
      width: 100%;
      height: 100%;
      background:white;
    }






  .fluid-flex img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 5px 0 50px;
    border-radius:.2em;
  }

  a.more {
    text-decoration: none;
    font-size: .7em;
    float: right;
    display: block;
    padding: 50px 20px;
    color: #333;
  }

  a:hover {
    text-decoration: underline;
    color: #01c59f;
  }

  .grid {
    display: -webkit-flex;
    display: flex;
  }

  .col {
    padding: 30px;
  }

  .fluid-flex {
    -webkit-flex: 1;
    flex: 1; /* Not supported by Safari */
  }

    .my-bio {
      font-size: 40px;
      color: black;
      font-family: Montserrat,sans-serif;
      text-align: center;
      margin-top: 40px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .my-bio-p {
      font-size: 20px;
      color: black;
      text-align: center;
      font-family: Montserrat,sans-serif;
      text-align: center;
      margin-top: 40px;
      font-weight: 400;
      letter-spacing: 1px;

    }


    .fluid-flex h1 {
      font-size: 15px;
      color: black;
      font-family: Montserrat,sans-serif;
      text-align: center;
      margin-top: 40px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .fluid-flex p {
      font-size: 12px;
      color: black;
      font-family: Montserrat,sans-serif;
      text-align: left
      font-weight: 400;
      letter-spacing: 1px;
      margin-top: -20px;
    }

    .heading {
      position: absolute;
      top: 30vh;
      color: white;
      font-size: 100px;
      z-index: 9999999999;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      font-weight: 900;
      font-size: 70px;
      margin-left: 150px;
      transform: translateX(-50px);
      opacity: 0;
      animation: move-left 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1 forwards;
    }

    @keyframes move-left {
      0%{
        transform: translateX(-50px);
        opacity: 0;
      }
      100%{
        transform :translateX(0px);
        opacity: 1;
      }
    }
</style>

<div class="logo">
  <h1>JJ <br/><p style="font-size:12px;  letter-spacing: 1px;">Web Developer</p></h1>
</div>
<div class="navbar">
  <h1 onclick="window.location.href='/choose'" class="contact">Back</h1>

  <h1 onclick="window.location.href='/'" class="about">Home</h1>
  <a href="https://www.linkedin.com/in/jalen-jackson-20975b144/" target="_blank"><h1 class="contact">Linkedin</h1></a>

  <a href="https://github.com/jalenjackson" target="_blank"><h1 class="github">Github</h1></a>
</div>


<div class="top-panel">
  <div style="background: linear-gradient(rgba(0,0,0,0.05), black), url(https://photoserge.com/dailytips/image.axd?picture=/TIP%20133%20How%20to%20make%20a%20double%20exposure%20in%20Photoshop/5.JPG) center center no-repeat; background-size:cover;" class="img-inside">
    <div class="overlay33"></div>
  </div>
  <h1 class="heading">Passionate <br/> Web Developer</h1>


  <a href="mailto:jalenjack201@hotmail.com?Subject=Hello%20Jalen!" target="_top"><button class="btn2">I Am available for hire</button></a>

</div>

<div class="info-panel">

  <h1 class="my-bio">My Bio</h1>
  <p class="my-bio-p">I have experience in all phases of the development process</p>

  <div class="grid">
    <div class="col fluid-flex">
      <h1>High Profit Applications</h1>
      <img src="https://udemy-images.udemy.com/course/750x422/390866_7f55_3.jpg" alt="Image" title="Image" />
      <p>Experience leading the development of a an application predicted to earn 1 million dollars+ in
        sales
    </div>
    <div class="col fluid-flex">
      <h1>Transitions And Animations </h1>
      <img src="https://s3.amazonaws.com/university-prod/uploads/attachments/354/original/motion.png?1444883111" alt="Image" title="Image" />
      <p>Capable of implementing advanced transitions and web animations with CSS and or jQuery</p>
    </div>
    <div class="col fluid-flex">
      <h1>Mastery of a variety of languages</h1>
      <img src="https://udemy-images.udemy.com/course/750x422/10681_968c_6.jpg" alt="Image" title="Image" />
      <p>Mastery of HTML, CSS, Javascript, and Ruby On Rails</p>
    </div>
</div>




  <div class="grid">
    <div class="col fluid-flex">
      <h1>Responsive Web Design</h1>
      <img src="https://www.eduonix.com/aDmiN_050716/public/uploads/headerimages/20170301155447.jpg" alt="Image" title="Image" />
      <p>Skilled with responsive web design, and cross browser compatibility.</p>
    </div>
    <div class="col fluid-flex">
      <h1>Design Trends </h1>
      <img src="https://www.propointgraphics.com/wp-content/uploads/2016/04/Hero_MAIN-1024x595.jpg" alt="Image" title="Image" />
      <p>Strong knowledge of best design trends and implementing user focused solutions</p>
    </div>
    <div class="col fluid-flex">
      <h1>Production Enviorments</h1>
      <img src="http://www.customsoftwarelab.com/wp-content/uploads/2016/03/top-web-development-tools-every-developer-should-use.jpg" alt="Image" title="Image" />
      <p>Strong knowledge of implementing a successful production environment</p>
    </div>
  </div>



  <div class="grid">
    <div class="col fluid-flex">
      <h1>RESTful web services</h1>
      <img src="https://stripe.com/img/v3/home/social.png" alt="Image" title="Image" />
      <p>Excellent with utilizing RESTful web services such as the Stripe API along with the Stripe
        Connect API</p>
    </div>
    <div class="col fluid-flex">
      <h1>Storing API Data </h1>
      <img src="https://www.kumulos.com/wp-content/uploads/2010/08/database.jpeg" alt="Image" title="Image" />
      <p>Experience storing data from a JSON returned API call into a database</p>
    </div>
    <div class="col fluid-flex">
      <h1>API across users</h1>
      <img src="https://marketingland.com/wp-content/ml-loads/2015/10/YPS_1510_WC151015_facebook_1920-800x450.jpg" alt="Image" title="Image" />
      <p>Experience utilizing API’s across a network of users</p>
    </div>
  </div>



  <div class="grid">
    <div class="col fluid-flex">
      <h1>Amazon Web Services</h1>
      <img src="http://vamsystems.com/Images/ContentImages/2015/1/amazon_web_services.jpg" alt="Image" title="Image" />
      <p>Knowledge of amazon web services such as amazon s3</p>
    </div>
    <div class="col fluid-flex">
      <h1>5 years experience</h1>
      <img src="http://www.seoservicesuk.me/wp-content/uploads/2017/08/Common-Coding-Languages-for-Web-Development.jpg" alt="Image" title="Image" />
      <p>5 years experience building full stack dynamic web applications</p>
    </div>
    <div class="col fluid-flex">
      <h1>DNS Management</h1>
      <img src="https://img1.wsimg.com/Sitecore/9/D/share-godaddy-domains.jpg" alt="Image" title="Image" />
      <p> Strong knowledge of DNS management</p>
    </div>
  </div>



  <div class="grid">
    <div class="col fluid-flex">
      <h1>Leading Other Developers</h1>
      <img src="https://www.quickbase.com/blog/wp-content/uploads/sites/2/2015/09/How-to-Establish-Yourself-as-a-Thought-Leader-in-Your-Field.jpg" alt="Image" title="Image" />
      <p> Experience leading a team of developers in the development of a multitude of applications • Experience with taking on the role of building a web application alone</p>
    </div>
    <div class="col fluid-flex">
      <h1>Project Management </h1>
      <img src="https://atlassian.design/uploads/guidelines/brand/logos/logo-guideline-27@2x.png" alt="Image" title="Image" />
      <p>Experience Working with project management tools such as JIRA</p>
    </div>
    <div class="col fluid-flex">
      <h1>Meeting Deadlines</h1>
      <img src="https://c.tadst.com/gfx/1200x630/fb-worldclocks.png?1" alt="Image" title="Image" />
      <p>Consistently finishing projects ahead of schedule</p>
    </div>
  </div>



  <div class="grid">
    <div class="col fluid-flex">
      <h1>100% Accuracy</h1>
      <img src="https://images.contentful.com/6m9bd13t776q/2sFyyD6Glis2UCycyisuSa/46e1112d3cc8e8d4a4b3020c66f37103/how-accurate-home-pregnancy-test-2600x1200.jpg?q=75" alt="Image" title="Image" />
      <p>Strong accuracy of converting design mockups to workable web sites</p>
    </div>
    <div class="col fluid-flex">
      <h1>Heroku</h1>
      <img src="https://zimmergren.net/content/images/2016/09/herokulogo.png" alt="Image" title="Image" />
      <p>Strong knowledge of the Heroku platform</p>
    </div>
    <div class="col fluid-flex">
      <h1>Social Networks</h1>
      <img src="https://stocknews.com/wp-content/uploads/2017/07/facebook-fb-alternate.jpg" alt="Image" title="Image" />
      <p>Experience building a social network</p>
    </div>
  </div>

</div>